<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-primary text-white">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-light text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span class="fs-4">Millennium Hardware</span>
    </a>

    <ul class="nav nav-pills">
      <li routerLink="" class="nav-item"><a class="nav-link active text-primary bg-light" aria-current="page">Home</a>
      </li>
      <li routerLink="customer-manage" class="nav-item"><a class="nav-link text-white" style="cursor: pointer;">Customer
          Manage</a></li>
      <li routerLink="item-manage" class="nav-item"><a class="nav-link text-white" style="cursor: pointer;">Item
          Manage</a></li>
      <li routerLink="rental-manage" class="nav-item"><a class="nav-link text-white" style="cursor: pointer;">Rental
          Manage</a></li>
    </ul>
  </header>
</div>